/* DOCS RESET
-------------------------------------------------- */
body {
  padding: 40px 20px;
  color: #555;
  text-shadow: 0 1px 0 #fff;
}
body,
p,
li {
  font-size: 14px;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

/* Set width of site */
.container {
  width: auto;
  max-width: 820px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

/* Change up the buttons to match GitHub */
.primary.btn {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-color: #fff; /* Old browsers */
  border: 1px solid #2967a4;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.primary.btn:hover {
  background-position: 0 -15px;
}
.primary.btn:active {
  background-image: none;
  background-color: #3072b3; /* Old browsers */
}


/* MASTHEAD
-------------------------------------------------- */
.masthead {
  margin-bottom: 30px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 10px;
  font-size: 80px;
  line-height: 1;
}
.masthead p {
  font-size: 18px;
  line-height: 30px;
}
.masthead .introducing {
  margin-bottom: 20px;
  color: #999;
}
.masthead .tagline {
  margin-bottom: 30px;
  font-size: 24px;
}
.masthead .tweet-button {
  width: 55px;
  margin: 0 auto 20px;
}


/* BODY
-------------------------------------------------- */

/* Two-column buttons */
.about-buttons {
  text-align: center;
}
.about-star,
.about-fork,
.about-follow {
  width: 32%;
  float: left;
}
.about-buttons div + div {
  margin-left: 2%;
}
.about-buttons ul {
  margin-left: 0;
  list-style: none;
}
.about-buttons iframe {
  margin: 10px 0;
}

/* Download button */
.download {
  margin: 30px 0 50px;
  text-align: center;
}
.download .btn {
  font-size: 20px;
  padding: 12px 24px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}


/* FOOTER
-------------------------------------------------- */
.footer {
  margin-top: 40px;
  padding: 0;
  border-top: 0;
}
.footer p {
  text-align: center;
}
iframe + iframe {
  margin-left: 10px;
}


/* MISC
-------------------------------------------------- */

/* Small lines after each section */
.masthead:after,
.body:after {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 0 auto;
  background-color: #eee;
}


/* RESPONSIVE
-------------------------------------------------- */

@media (max-width: 840px) {
  .masthead h1 {
    font-size: 60px;
  }
  .masthead p,
  .masthead .tagline {
    font-size: 18px;
    line-height: 24px;
  }

  .about-watch,
  .about-fork,
  .about-follow {
    width: auto;
    float: none;
    margin-bottom: 20px;
  }
  .about-buttons div + div {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .masthead h1 {
    font-size: 40px;
  }
  .masthead p,
  .masthead .tagline {
    font-size: 16px;
    line-height: 20px;
  }
}
